<%= form_for(task) do |f| %>

 <% if task.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% task.errors.full_messages.each do |task| %>
          <li><%= task %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.label :status, 'タイトル' %>
  <%= f.text_field :status , placeholder:"タイトルを入力"%>


  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content , placeholder:"タスクを入力" %>

  <%= f.submit '追加' %>
<% end %>